public/index.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"/><meta name="viewport" content="width=device-width, initial-scale=1.0"/><meta http-equiv="X-UA-Compatible" content="ie=edge"/><title>My Site</title><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/><link rel="stylesheet" href="css/app.css"/></head><body><!--include structure/_header--><section class="wrapper" id="wrapper"><div class="wrapper__content"><div class="container"><schedule-restaurant v-bind:options="options" v-on:initialize="load" v-on:save="saveTime" v-on:remove="removeTime"></schedule-restaurant></div></div></section><section class="footer"><div class="footer__content"></div></section></body><script src="https://cdn.jsdelivr.net/npm/vue"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script><script src="js/bundle.js"></script></html>

src/pug/pages/index.pug
extends ../includes/template
block main
    section#wrapper.wrapper
        .wrapper__content
            .container
                schedule-restaurant(v-bind:options="options" v-on:initialize="load" v-on:save="saveTime" v-on:remove="removeTime")
